:root{
  --FirstBackgroundColor: #FDECEF;
  --SecondBackgroundColor: black;
  --FontColor: lightgray;
  --GradientColor: top left, #612940, crimson 50%;
}
body{
  width: 100%;
  height: 100%;
  font-size: 100%;
  padding: 0;
  margin: 0;
  font-family: serif;
}

a[id="Direcionador"]{
  transition: 1s;
  text-decoration: none;
  font-size: 1.4em;
  color: var(--FontColor);
}
a[id="Direcionador"]:hover{
  transition: 1s;
  font-size: 2em;
  border-bottom: 1px solid white;
  color: white;
}

img[id="ImagemMostrativa"]{
  width: 7em;
  padding-bottom: 1em;
}
img[id="Foto"]{
  width: 10em;
  height: 10em;
  border-radius: 10em;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
  align-items: center;
}

input[type="email"]{
  background-color: #161616D9;
  border: 2px solid black;
  border-radius: 0.3em;
  color: white;
  width: 15em;
  height: 2em;
  box-sizing: content-box;
  font-size: 1.5em
}
input[type="email"]:focus{
  outline-style: double;
  outline-color: black;
}

input[type="file"]{
  opacity: 1;
  position: absolute;
  z-index: -1;
}
label[for="IMGFile"]{
  background-color: #E15873;
  border: 2px solid #e84256;
  border-radius: 0.3em;
  color: black;
  width: 8em;
  height: min-content;
  text-align: center;
  padding: 0.5em;
}
label[for="IMGFile"]:hover{
  background-color: #EA8A9D
}

button[type="submit"]{
  background-color: #E15873;
  border: 2px solid #e84256;
  border-radius: 0.3em;
  font-size: 1.4em;
}
button[type="submit"]:hover{
  background-color: #EA8A9D
}

textarea{
  background-color: #161616d9;
  border: 2px solid black;
  border-radius: 0.3em;
  resize: none;
  width: 23em;
  height: 15em;
  color: white;
  box-sizing: content-box;
  font-size: 1.3em;
}
textarea:focus{
  outline-style: double;
  outline-color: black;
}

#InstaLogo{
  display: flex;
  justify-self: right;
  filter: invert();
  width: cover;
  height: 2em;
}

.Header{
  display: flex;
  position: fixed;
  width: 100%;
  height: 3.5em;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: black;
  filter: opacity(95%);
  box-sizing: border-box;
  z-index: 1;
}

.SectionOne{
  display: flex;
  position: static;
  width: inherit;
  height: 35em;
  /*85vh*/
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: var(--FirstBackgroundColor);
  padding-left: 5em;
  background-image: url("img/Demi-Lovato-Free-PNG-Image2.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  background-position-y: 0.1em;
  box-sizing: border-box;
}
.SectionTwo{
  display: flex;
  position: static;
  width: inherit;
  height: max-content;
  min-height: 30em;
  /*45em*/
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 5em;
  background: var(--SecondBackgroundColor);
  background-image: url("img/LogoEmpresa.jpeg");
  background-size: 30em;
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 2em;
}
.SectionThree{
  display: flex;
  position: static;
  width: inherit;
  height: 86vh;
  height: 36em;
  flex-direction: row;
  justify-content: space-between;
  background: var(--FirstBackgroundColor);
}
.SectionFour{
  display: flex;
  position: static;
  width: inherit;
  height: 86vh;
  height: 36em;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  background: var(--SecondBackgroundColor);
}

.Placeholder{
  display: flex;
  flex-wrap: wrap;
  font-size: 9vw;
  /*7em*/
  height: max-content;
  font-family: serif;
  background: -webkit-linear-gradient(var(--GradientColor));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  resize: both;
}
.FormTitle{
  font-size: 3em;
  color: white;
}

.BoxThatContainsForm{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 35em;
  height: 100%;
  background: -webkit-linear-gradient(var(--GradientColor));
}

.BoxThatContainsText{
  display: flex;
  flex-direction: row;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  width: 52em;
  height: 50vh;
}

.TextoMostrativo{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40em;
  height: min-content;
  font-size: 1.1em;
  color: white;
}

.ExtraInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 20em;
  height: min-content;
  font-size: 1.1;
}

.BoxThatContainsInfo{
  display: flex;
  flex-direction: row;
  width: 47.1em;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.FotoEquipe{
  width: 10em;
  height: min-content;
  color: white;
  font-size: 1.2em;
}
